
ul{
    display: block;
}

li{
    float: right;
    list-style-type: none;
    margin-left: 20px;
    border: 2px solid #EBEBFF;
    border-radius: 13px;
    background-color: #EBEBFF;
    font-family: "poppins", sans-serif;
    padding: 5px 10px;
    color: #6070FF;
    font-weight: 500;
}